  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>I was on "Who Wants To Be A Millionaire"!</h2>
              <div class="btn-group" role="group" aria-label="links to youtube videos">
                <a href="https://www.youtube.com/watch?v=yXC0hIWBjBw" class="btn btn-default btn-xl">Part 1</a>
                <a href="https://www.youtube.com/watch?v=OjVun1PnAxg" class="btn btn-default btn-xl">Part 2</a>
                <a href="https://www.youtube.com/watch?v=o1DsPWRBMYA" class="btn btn-default btn-xl">Part 3</a>
              </div>
          </div>
      </div>
  </aside>
