<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>As of June 3, 2024, the office of Podiatrist Henry K. Stark, DPM, Lake Park Podiatry, LLC, has been sold. Dr. Stark is no longer in active practice. A patient or their duly constituted representative may request a copy of their Medical Records via email to Dr. Stark at the email address below.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <address>
                    <a class="text-primary" href="mailto:{{ site.email }}">
                        <i class="fas fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i><br /><br />
                        <span>{{ site.email }}</span>
                    </a>
                </address>
            </div>
        </div>
    </div>
</section>
