<header>
    <div class="layer">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Lake Park Podiatry</h1>
                <hr class="light">
                <p>Dr. Henry Stark, DPM is a Podiatry Specialist in Lake Park, FL. He is accepting new patients.  Be sure to call ahead with Dr. Stark to book an appointment.</p>
                <address>
                    <a class="text-light" href="tel:{{site.phone}}">
                      <i class="fas fa-phone fa-2x wow bounceIn" data-wow-delay=".1s"></i><br />
                      <span>{{site.phone}}</span>
                    </a>
                </address>
                <br /><br />
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
</header>
