<header>
    <div class="layer">
        <div class="header-content mt-5">
            <div class="header-content-inner">
                <h1>Lake Park Podiatry</h1>
                <br />
                <img src="img/shield.png" class="mx-auto d-block img" alt="Picture of the 701 Lake Park Podiatry Shield from the side of the building" width="150" />
                <hr class="light">
                <p>Dr. Henry Stark, DPM is a Podiatry Specialist in Lake Park, FL. He has been caring for the Lake Park and surrounding communities for more than 40 years. He is currently accepting new patients. Be sure to call ahead with Dr. Stark to book an appointment.</p>
                <address>
                    <a class="text-light" href="tel:{{site.phone}}">
                      <i class="fas fa-phone fa-2x wow bounceIn" data-wow-delay=".1s"></i><br />
                      <span>{{site.phone}}</span>
                    </a>
                </address>
                <br /><br />
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
</header>
