<header>
    <div class="layer">
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Lake Park Podiatry</h1>
                <hr>
                <p>Dr. Henry Stark, DPM is a Podiatry Specialist in Lake Park, FL. He is accepting new patients.  Be sure to call ahead with Dr. Stark to book an appointment.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </div>
</header>
